/* General Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #222222;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #3ab5e8;
    border-bottom: 2px solid black
}

nav button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

nav button:hover {
    text-decoration: underline;
}

/* Main Container */
.container {
    display: flex;
    padding: 20px;
}

/* Image Gallery */
.image-gallery {
    display: flex;
    align-items: center;
}

/* Thumbnails */
.thumbnail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

.thumbnail-container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid black;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail-container img:hover {
    transform: scale(1.1);
}

/* Main Image */
.main-image-container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.main-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Item Details */
.item-details {
    flex-grow: 1;
    margin-left: 20px;
  color: #222222;
}

.item-details h1 {
    font-size: 24px;
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
  color: #002e5a;
}

.seller-info {
    border: 2px solid black;
      color:#222222; 
