#searchBar{
    margin-left: 27%;
    margin-top: 2%;
    position: absolute;
}
body{
    font-family: Montserrat, serif;
    margin:0;
    color: #222222;
}
#searchInput{
    text-align: center;
    width: 800px;
}
#searchButton {
    background-color: transparent;
    border: transparent;
    position: absolute;
}
#listings{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    height: 85.5%;
    margin-top: 7.5%;
    position:  absolute;
    overflow-y:auto
}
.item-image {
    background-color: #f0f0f0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 4px;
}

.item-description {
    margin-bottom: 10px;
}

.item-price {
    font-weight: bold;
}
.item_box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}
.listing-button{
    background-color: transparent;
    color: white;
    border: none;
    height: 270px;
    width: 383px;
    margin-left: -12%;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-top:-16%;
    position: absolute;
}
#profile{
    margin-left: 95%;
    margin-top: 1%;
    position: absolute;
}
#logo{
    margin-left: 20px;
    color: #3ab5e8;
    font-family: Montserrat, serif;
    position: absolute;
    font-size: 70px;
}
.montserrat-font {
                 font-family: "Montserrat", sans-serif;
                 font-optical-sizing: auto;
                 font-weight: 100;
                 font-style: normal;
             }
#top_line {
    display: flex;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 100%;
    position: absolute;
    background-color: #bcbec0;
}
#addListing{
    margin-left: 83%;
    margin-top: 1%;
    position: absolute;
}
#addListingButton{
    background-color:  transparent;
    width: 120px;
    height:50px;
    border: 1px solid #bcbec0;
    border-radius: 8px;
    position: absolute;
    cursor: pointer;
}
#logoButton{
    background-color: transparent;
    width: 400px;
    height:90px;
    border: 5px red;
    position: absolute;
    cursor: pointer;
}
#profileButton{
    background-color: transparent;
    width: 50px;
    height:50px;
    border: 5px red;
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
}
#profileButton:hover{
}